@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Random Passcode: (#@ViewBag.counter)</h1>
    <h1>@ViewBag.password</h1>
    <a href="/" class="btn btn-primary">Generate</a>
</div>
